<!doctype html>
<html lang="en" ng-app="angularAuthExample">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Auth Example</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/app.js"></script>
</head>
<body>
  <form name="loginForm"
        ng-controller="LoginController"
        ng-submit="login(credentials)"
        novalidate>

    <label for="username">Username:</label>
    <input type="text"
           id="username"
           name="username"
           ng-model="credentials.username">

    <label for="password">Password:</label>
    <input type="password"
           id="password"
           name="password"
           ng-model="credentials.password">

    <button type="submit">Login</button>

  </form>
</body>
</html>